.post {
  display: flex;
  justify-content: center;
  height: 300vh;
  width: 500px;
}

.inner_img {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.PostPage {
  /*  */
}
